.container {
    text-align: left;
    font-family: 'Salesforce Sans', Arial, sans-serif;
	background-color: white;
	height: 230px;
	padding-top: 12px;
}

.title {
    font-size: 16px;
    margin-bottom: 1.5rem;
	font-weight: 600;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 395px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    position: relative;
    cursor: pointer;
    transition: box-shadow 0.3s;
	height:138px;
}

.card:hover:not(.disabled) {
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.card.selected {
    border: 2px solid rgba(0,0,0,0.15);
}
.selectci {
    border: 2px solid #0070d2;
}
.selected:hover{
	 border: 2px solid #0070d2;
}
.content {
    display: flex;
    align-items: center;
}

.icon {
    width: 36px;
    height: 36px;
}

.separator {
    height: 104px;
    width: 2px;
    background-color: #ccc;
    margin: 0 1rem;
}

.text h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.text p {
    margin: 0.3rem 0 0;
    font-size: 1rem;
    color: #666;
}

.corner-check {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0070d2;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    border-bottom-left-radius: 8px;
	display: none;
}
.selected:hover .corner-check {
    display: block;
}

.corner-checked
{    position: absolute;
    top: 0;
    right: 0;
    background-color: #0070d2;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    border-bottom-left-radius: 8px;
	 display: block;
}
.corner-lock {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
}

.disabled {
    cursor: no-drop;
    opacity: 0.6;
}